<div class='container-fluid'>
<div class='row mx-5 justify-content-center g-5'>

<div class='col-7 d-flex flex-column'>
<section class="user-section w-100">
<div class='row d-flex justify-content-center'>
    <h1 class="text-center text-success"><%= @user.name %><span>
    <% if @user != current_user %>
    <% unless @acceptreject.nil? %>
    <%= link_to 'Accept', friendship_path(@acceptreject), class: 'btn btn-outline-success btn-sm ml-3', method: :patch %>
     <%= link_to 'Reject', friendship_path(@acceptreject), class: 'btn btn-outline-danger btn-sm ml-3', method: :delete %>
<% end %>

<%= link_to 'Delete Friend', friendship_path(@deletef), class: 'btn btn-outline-danger btn-sm ml-3', method: :delete unless @deletef.nil? %>

<% if @acceptreject.nil? && @deletef.nil? && @cancel.nil? %>
<%= link_to 'Add friend', friendships_path(@user), class: 'btn btn-outline-success btn-sm ml-3', method: :post %>
<% end %>
<%= link_to 'Cancel', friendship_path(@cancel), class: 'btn btn-outline-danger btn-sm ml-3', method: :delete unless @cancel.nil? %>
<% end %>
</span>
</h2>
</div>

<div class='row col-12 d-flex flex-column flex-fill'>
    <article class="timeline">
        <h3>Recent posts:</h3>
        <ul class="posts">
            <%= render @posts %>
        </ul>
    </article>


</div>
</section>
</div>

<div class="col-4 d-flex flex-column ">


    <div>


<h3 class="fw-bold">Friend list of <%= @user.name %></h3>
<hr class="my-1">
  <ul>
    <% @user.friends.each do |friend| %>
    <li class="my-2"><%= link_to friend.name, user_path(friend), class:"fs-3 text-success" %><br><span class="text-muted fw-lighter fs-6">Friends since <%= time_ago_in_words(friend.created_at) %></span> </li>
    <% end %>
  </ul>



    </div>



</div>
</div>
</div>