<section class="user-section">
    <h2><%= "Name: #{@user.name}" %></h2>
    <%= addOrCancelFriendRequest(@user) %>

    <article class="timeline">
        <h3>Recent posts:</h3>
        <ul class="posts">
            <%= render @posts %>
        </ul>
    </article>
</section>

<div class="pending-con">


    <div>
        <h3>Friends:</h3>
        <% @user.friends.each do |friend|%>
        <ul>
            <li><%= friend.name%><%= remove_friend(friend)%></li>
        </ul>
        <%end%>
    </div>
</div>